<div class="quick-contest-main">
    <h2>Quick Contest</h2>
    <div class="actor-container" id="actor1">
      <h3>Actor One</h3>
      <div class="attribute-info">
        <span class="actor-name">Drag here a rollable element</span>
        <span class="attribute-name"></span>
        <span class="attribute-value"></span>
      </div>
    </div>
    <div class="actor-container" id="actor2">
      <h3>Actor Two</h3>
      <div class="attribute-info">
        <span class="actor-name">Drag here a rollable element</span>
        <span class="attribute-name"></span>
        <span class="attribute-value"></span>
      </div>
    </div>
    <button id="compare-button">Contest!</button>
  </div>
  