<div class="quick-contest-main">
  <h2>Quick Contest</h2>
  <div id="versus">
    <div class="actor1-image"></div>
    <span>VS</span>
    <div class="actor2-image"></div>
  </div>
  <div class="actor-container" id="actor1">
    <h3>Actor One</h3>
    <div class="attribute-info">
      <div class="actor-name">Drag here a rollable element</div>
      <span class="attribute-name"></span>
      <span class="attribute-value"></span>
      <span class="attribute-modifier"></span>
    </div>
  </div>
  <div class="actor-container" id="actor2">
    <h3>Actor Two</h3>
    <div class="attribute-info">
      <div class="actor-name">Drag here a rollable element</div>
      <span class="attribute-name"></span>
      <span class="attribute-value"></span>
      <span class="attribute-modifier"></span>
    </div>
  </div>
  <button id="compare-button">Contest!</button>
</div>
